@using BookStore.Models.Objects
@{
    Layout = "Cart_Layout";
}
@model Cart

<h1>List of Product</h1>
@if (Model is null)
{
    <p>Not book to show!</p>
}
else
{
    foreach (var book in Model.CartBook)
    {
        <p>@book.Book.Name</p>
    }
}
