@using BookStore.Models.Objects
@{
    Layout = "Cart_Layout";
}
@model List<CartBook>

<h1>List of Product</h1>
@if (Model is null)
{
    <p>Not book to show!</p>
}
else
{
    foreach (var cartbook in Model)
    {
        <p>@cartbook.Book.Name</p>
    }
}
