<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @*<script src="lib/jquery/dist/jquery.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="js/login.js"></script>
</body>
</html>
