<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <link rel="shortcut icon" type="image/png" href="/logo.ico">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="/js/profile.js"></script>
</body>
</html>
