<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Statistics</title>
    <link rel="shortcut icon" type="image/png" href="/logo.ico">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link href="/css/Monsterrat.css" rel="stylesheet">
    <link rel="stylesheet" href="/mdbootstrap/css/mdb.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
